*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Login-Page */
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #fefae0;
}
.card-content{
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 3rem;
}

.card-content h1{
    background-color: #283618;
    color: #fff;
    padding: 1.5rem 0;
    height: 20%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    font-size: 2.8rem;
}

.form{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    padding: 4rem 2rem;
}
.input-box{
    display: grid;
    gap: 2rem;
}
.input{
    font-size: 1.5rem;
    padding: .6rem 1.6rem;
    border-radius: 3rem;
    background-color: #fefae0;
    border: 1px solid;

}
.input-button{
    background-color: #283618;
    color: #fff;
}
